body {
    font-family: sans-serif;
    background-color: #285430;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #387450;
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
}

input[type="text"], button {
    padding: 10px;
    margin: 5px 0;
}

#taskList {
    list-style: none;
    padding: 0;
}

#taskList li {
    background-color: #489470;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

footer {
    margin-top: auto; 
    padding: 20px;
    text-align: center; 
    background-color: #204020; 
    width: 100%; 
    position: relative; 
}

footer a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none; 
}

footer a:hover {
    transition: color 0.3s ease; 
    color: #0056b2; }

